@using dctweb 
@{
    ViewData["Title"] = "Dictionary";
    Content[]? result = ViewData["results"] as Content[];
}





<br/>
<div>
  <button href="" class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#addNewModal">
    Add New
  </button>

</div>
<table class="table border mt-3">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Kata</th>
      <th scope="col">Terjemahan</th>
      <th scope="col">Deskripsi</th>
      <th scope="col">File Audio</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    @{
      int i = 1;
    }
    @if(result is not null){
        
        @foreach(var x in result){
          <tr>
            <th scope="row">@i</th>
            <td>@x.contentFrom</td>
            <td>@x.contentTo</td>
            <td>@x.contentTo</td>
            <td>@x.contentAudio</td>
            <td>
                  <a href="" class="btn btn-light text-dark"><i class="bi bi-pen"></i></a>
                  <a href="" class="btn btn-danger"><i class="bi bi-trash"></i></a>
            </td>
          </tr>
           
          i++;
        }
    }
  </tbody>
</table>


@* Modal *@
<!-- Button trigger modal -->
<!-- Modal -->
<form action="">
  <div class="modal fade" id="addNewModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
        <div class="modal-body">
          
              @* Form *@
                <div class="mb-3">
                  <label for="ContentFrom" class="form-label">Kata</label>
                  <input type="text" class="form-control" id="ContentFrom" placeholder="input kata" required>
                </div>

                <div class="mb-3">
                  <label for="ContentTo" class="form-label">Terjemahan</label>
                  <input type="text" class="form-control" id="ContentTo" placeholder="input terjemahan" required>
                </div>

                <div class="mb-3">
                  <label for="ContentAudio" class="form-label">Audio</label>
                  <input class="form-control" type="file" id="ContentAudio" required>
                </div>
                @* /Form *@
          
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
        
      </div>
    </div>
  </div>
</form>